@font-face {
  font-family: 'Manrope';
  font-weight: 400;
  src: local('Manrope'),
    url('../assets/fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  src: local('Manrope'),
    url('../assets/fonts/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 600;
  src: local('Manrope'),
    url('../assets/fonts/Manrope-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 700;
  src: local('Manrope'),
    url('../assets/fonts/Manrope-Bold.ttf') format('truetype');
}

body {
  @apply min-w-[320px] scroll-smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-manrope{
  font-family: 'Manrope';
}
